html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px 2rem 20px 0;
  text-align: right;
}

.authors {
  display: inline;
  color: rgba(0,0,0,0.5);
}

#my-soon-counter {
    color: #98a3eb;
    position: relative;
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0 0 0 9rem;
}
#my-soon-counter h1 {
  font-size: 3rem;
}
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}

.soon-matrix .soon-matrix-dot {
    display: table-cell!important;
    width: .2em;
    height: .2em;
  }

#deezer_wrapper{
  margin:0 0 0 auto;
  width: 21%;
  display: inline-block;
  float: right;
  margin: 3rem 2rem;
  opacity: 0.7;
  font-family: "PT Sans",sans-serif;
  color: white;
  font-size: 1rem;
}

a {
  color:#ae00eb;
  text-decoration: none;
}

h4, h5 {
    margin: 0 0 1rem 0;
}

h5 {
  margin:5px 0;
}
